body {
    background-image: url("C:/Users/user/OneDrive/바탕 화면/server/pic2.png"); /* 이미지 파일의 경로 */
    background-size: cover;
}

.container {
    width: 300px;
    height: 400px; 
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.form-control {
    margin-bottom: 15px;
}

.btn-primary {
    width: 100%;
}