<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boxicons.min.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Ludiflex | Login & Registration</title>
    
</head>

<body>

    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>code'mmunity</p> 
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="#" class="link active">Home</a></li>
                    <li><a href="#" class="link">Post</a></li>
                    <li><a href="#" class="link">Services</a></li>
                    <li><a href="#" class="link">About</a></li>
                </ul>
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
                <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>
    </div>

    <div class="wrapper2">
        <nav class="nav2">
            <div class="nav2-logo">
                <p> welcome !</p>
                <p> we are code'mmunity</p> 
            </div>
        </nav>
    </div>

    <script>

        // Sign In 버튼 클릭 시 login.html로 이동하는 JavaScript 코드
        
        document.getElementById("loginBtn").onclick = function () {
        
            window.location.href = "/login";
        
        };

        // Sign In 버튼 클릭 시 register.html로 이동하는 JavaScript 코드
        
        document.getElementById("registerBtn").onclick = function () {
        
        window.location.href = "/register";
    
    };


    
    </script>

</body>
</html>